@use '../util/' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--softblue);
  font-family: var(--font-outfit);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
